#boxofficeMain {
   display: flex;
   height: 470px;
   justify-content: start;
   flex-direction: column;
   align-items: center;
}

#mvFooter {
   height: 135px;
   background-color: rgb(170, 53, 53);
   width: 80%;
   margin-left: 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 30px;
}

#mvInfo {
   list-style: none;
   font-size: small;
   color: rgb(240, 233, 233);
   font-family: GmarketSansMedium;
}

#refDiv {
   font-size: 11px;
   color: rgba(240, 233, 233, 0.575);
   padding-bottom: 6px;
   align-self: flex-end;
   width: 18%;
   font-family: Pretendard-Regular;
}

.sec, .divDt {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sec {
   width: 100%;
   flex-direction: column;
   padding-bottom: 10px;
}

.divDt {
   width: 80%;
   height: 70px;
   margin-top: 5px;
   background-color: rgb(255, 247, 236);
   border: dashed 1px rgb(255, 188, 101);
}

input[type=date] {
   height: 30px;
   width: 40%;
}

.sec > ul {
   margin-top: 5px;
   list-style: none;
   width: 100%;
}

.mvli {
   margin: 5px 0 0 40px;
   padding: 2px;
   display: flex;
   justify-content: start;
   align-items: center;

   transition-property: all;
   transition-duration: 1s;
}

.sel {
   height: 30px;
   margin-left: 30px;
}

fieldset {
   width: 50%;
   height: 30px;
   font-size: 12px;
   display: flex;
   justify-content: center;
   align-items: center;

   border: 0px;
}

label {
   margin: 0 6px 0 3px ;
}

.mvli:hover {
   font-weight: bold;
   box-shadow: 0 0 5px 0;
}

.rank {
   background-color: rgb(255, 226, 215);
   border-radius: 50%;
   width: 28px;
   height: 28px;

   display: inline-flex;
   justify-content: center;
   align-items: center;
}

ul > a {
   text-decoration: none;
   color: black;
}

.movieNm {
   width: 60%;
   margin-left: 5px;
 }
 
 .openDt {
   width: 20%;
 }

.rankInten {
   width: 10%;
}

.rankInten {
   text-align: center;
}

.spred {
   color: red;
}

.spblue {
   color: blue;
}

#li1:hover {
   background-color: rgb(255, 91, 31);
}

#li2:hover {
   background-color: rgb(255, 108, 55);
}

#li3:hover {
   background-color: rgb(255, 129, 83);
}

#li4:hover {
   background-color: rgb(252, 157, 122);
}

#li5:hover {
   background-color: rgb(255, 179, 151);
}

#li6:hover {
   background-color: rgb(252, 194, 173);
}

#li7:hover {
   background-color: rgb(252, 211, 197);
}

#li8:hover {
   background-color: rgb(255, 226, 215);
}

#li9:hover {
   background-color: rgb(253, 237, 231);
}

#li10:hover {
   background-color: rgb(253, 249, 247);
}