* {
   background-color: bisque;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

#title {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;

   color: brown;
   padding: 0px 15px;
   font-family: 'Paperlogy-8ExtraBold';
   font-weight: 500;
}

a {
   text-decoration: none;
}

ul {
   margin-top: 20px;
   justify-content:center;
   width: 90%;
}

.link {
   align-content: center;
   text-indent: 10px;

   background-color: rgba(253, 188, 66, 0.877);;
   margin: 10px 0px;
   padding: 5px;
   height: 55px;
   font-family: 'PTBandocheB';
   font-size: large;
   font-weight: bold;
   color: rgb(129, 68, 35);
}


.link:hover {
   background-color: rgb(161, 32, 32);
   color: white;
   box-shadow: 0 0 5px 0 rgb(85, 1, 1);
   font-weight: bold;
   font-size: x-large;
}  

@font-face {
   font-family: 'PTBandocheB';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Paperlogy-8ExtraBold';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
   font-weight: 800;
   font-style: normal;
}