* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

header, main {
   width: 80%;
   margin-left: 10%;
   display: flex;
}
@font-face {
   font-family: 'SBAggroB';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
header {
   height: 80px;
   background-color: bisque;
   color: brown;
   font-family: 'SBAggroB';

   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

header img {
   width: 40px;
   height: 40px;
}

main {
   flex-direction: column;
   justify-content: center;
   align-items: center;

   height: 450px;
   border: 1px dotted darkred;
}

section {
   margin: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

section > div {
   margin: 20px;
}

@font-face {
   font-family: 'CookieRun-Regular';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

button {
   background-color: rgb(206, 40, 40);
   color: wheat;
   font-weight: bold;
   font-size: medium;
   width: 120px;
   height: 50px;
   border: 0px;
   border-radius: 5px;
   font-family: 'CookieRun-Regular';
   margin: 0 3px;
}

button:hover {
   background-color: rgb(145, 28, 28);
   color: white;
   box-shadow: 0 0 5px 0 rgb(85, 1, 1);
}
