* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

header, main {
   width: 80%;
   margin-left: 10%;
   display: flex;
}
@font-face {
   font-family: 'SBAggroB';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
header {
   height: 80px;
   background-color: bisque;
   color: brown;
   font-family: 'SBAggroB';

   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

header img {
   width: 40px;
   height: 40px;
}

main {
   flex-direction: column;
   justify-content: center;
   align-items: center;

   height: 450px;
   border: 1px dotted darkred;
}

.dice {
   width: 150px;
   height: 150px;
   margin-bottom: 10px;
}

@font-face {
   font-family: 'CookieRun-Regular';
   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

button {
   background-color: orange;
   color: rgb(114, 74, 1);
   font-weight: bold;
   font-size: medium;
   width: 120px;
   height: 45px;
   border: 0px;
   border-radius: 5px;
   font-family: 'CookieRun-Regular';
   margin: 0 3px;
}

button:hover {
   background-color: rgb(161, 32, 32);
   color: white;
   box-shadow: 0 0 5px 0 rgb(85, 1, 1);
}

@font-face {
   font-family: 'NanumSquareNeo';
   src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
   src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}