section {
   margin: 5px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

section > div {
   margin: 20px;
}

h3 {
   text-align: center;
   margin-bottom: 5px;
}

button {
   width: 80px;
   font-size: large;
}

main > div {
   font-family: 'CookieRun-Regular';
   font-size: larger;
   margin-bottom: 5px;
   font-weight: lighter;
}

#result {
   width: 80%;
   height: 40px;
   margin-top: 10px;
   text-align: center;
   padding: 5px;

   border: 1px dashed orange;
   background-color: rgb(250, 245, 235);
}

.dice {
   width: 150px;
   height: 150px;
}